<h2>Estadísticas de Quiz</h2>

<p>Preguntas: <%= statsData.quizes %></p>
<p>Comentarios totales: <%= statsData.comments %></p>
<p>Media de comentarios por pregunta: <%= statsData.commmentsperQuizes %></p>
<p>Preguntas con comentarios: <%= statsData.commentedQuizes %></p>
<p>Preguntas sin comentarios: <%= statsData.nocommentedQuizes %></p>
